@mixin google-font( $font-name, $font-weights: null, $languages: null ) {

    $url: "https://fonts.googleapis.com/css?family=#{str-replace($font-name, " ", "+")}";

    @if $font-weights {
        $url: $url + ':' + $font-weights;
    }

    @if $languages {
        $url: $url + '&subset=' + $languages;
    }

    @import url( $url );
}
